<div class="card mb-3" style="width: 18rem;">
    <div class="product-image" [style.background]="'url('+product.imageUrl+')'">

    </div>
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'KSh '}}</p>
    </div>
    <div class="card-footer">
        <div *ngIf="shoppingCart">
            <button *ngIf="shoppingCart.getQuantity(product)===0; else updateQuantity" (click)="addToCart()"
                class="btn btn-secondary btn-block">Add to cart</button>
            <ng-template #updateQuantity>
                <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
            </ng-template>
        </div>
    </div>
</div>